.popshow{
    text-align: center;
    background-color: rgb(236, 26, 26);
    position:sticky;
    color: white;
    font-size: large;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.box{
min-height: 100%;
margin-bottom: 0px;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    /* width: 33.33%; */
        display: table-cell;
        margin: auto;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;

  }
  .row{
      width:100%;
      margin-left: 0%;
      margin-right: 0%;
      align-items: center;
      display: table;
      margin-top: -0.25rem;
     
      padding: 0px;
  }
  .vid-container{
      margin-top:0.2rem;
  }