.App {
    background-image: url("/src/Assets/klr-bg1.png");
    background-size: cover;
    background-position: relative;
    background-attachment: relative;
    position:relative;
    height: auto;
    width: 100%;
  }